@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
#g1{
    color: black;
    
font-family: 'Inter', sans-serif;
border: 2px;
border-style: solid;
box-sizing: border-box;
font-size: 40px;
line-height: 48.41px;
padding: auto;
flex-shrink: 0;
margin: 50px;
padding: 25px;
}
#gap{
    text-align: left;
    line-height: 75px;
}
#gaa{
    color: black;
}
#g2{
   
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin: 50px;
padding: 25px;
text-align: left;
line-height: 75px;
}
#img1{
    width: 1080px;
    height: 800px;
}
#gb{
    color: black;
    display: block;
}
#g3{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    line-height: 48px;
    margin: 50px;
padding: 25px;
text-align: left;
line-height: 75px;
}
